%footer
  .ui.container
    .ui.horizontal.segments
      .ui.segment
        .ui.list
          .item
            &copy; 2015 Антикафе «Фонтан»
          .item
            %a{href: '#', 'ng-click' => 'back_to_site()'} В основной сайт
      .ui.segment
        .ui.list
          .item
            %i.fa.fa-clock-o
            %span 00.00-24.00, пон-вск
          .item
            %i.fa.fa-map-marker
            %a{href: 'https://2gis.ru/novosibirsk/search/%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%B2%D0%B8%D0%BD%D0%B0%201/geo/141373143518845/center/82.912359%2C55.040916'}
              г. Новосибирск, ул. Державина 1
          .item
            %i.fa.fa-mobile
            %span +7 (913) 208-6998