%h1.ui.header
  %a{href: '#', 'ng-click' => 'root()'} Фонтан
  .sub.header Своя комната

.ui.top.attached.menu
  .menu.right
    %a.item.authorita{'ui-sref' => 'admin', permission: 'admin', 'ng-class' => '{active: $state.includes("admin")}'}
      %i.fa.fa-cogs

    %a.item{'ui-sref' => 'profile', 'ng-class' => '{active: $state.includes("profile")}'}
      {{ current_user.full_name }}

    %a#logout-link.item{'ng-click' => 'logout()'}
      %i.fa.fa-sign-out