#login-form.ui.equal.width.grid.center.aligned
  .column
    %section.plastic-card
      %h1 Вход через ВК

      - if flash[:error]
        .message.error
          %p #{flash[:error]}
      - else
        .message.notice
          %p Сначала вам должны были выдать персональную карту

      %a{href: user_omniauth_authorize_path(:vkontakte)}
        %img{src: asset_url('vk.png'), width: '100px'}