.field
  %label Номер карты
  %input{type: 'text', name: 'number', 'ng-model' => 'card.number'}

.field
  %label Посетитель
  %select.ui.search.dropdown{name: 'user_id', 'ng-model' => 'card.user_id', 'ng-options' => 'u.id as u.full_name for u in users'}

.field
  %label Описание
  %textarea{name: 'description', 'ng-model' => 'card.description'}

%submit.ui.submit.button{'ng-click' => 'submit()'} Добавить