%a.ui.primary.button{'ui-sref' => 'admin.cards.new'}
  %i.fa.fa-plus

.basic.ui.segment.segment_loader
  .ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
    .ui.indeterminate.text.loader Загрузка списка карточек

  %div{'ui-grid' => 'gridOptions'}

  -#.ui.two.column.aligned.relaxed.fitted.stackable.grid{'ng-if' => 'cards.length && !isLoading'}
  -#  .column{style: 'width: 30%;'}
  -#    .ui.cards
  -#      .card{'ng-repeat' => 'card in cards', style: 'width: 500px;'}
  -#        .content.text-center
  -#          .header
  -#            {{ card.user.full_name }}
  -#          -#.meta Культист
  -#        .extra.content
  -#          %i.fa.fa-credit-card
  -#          {{card.number}}
