%h1.ui.header.text-center.huge.username
  {{ current_user.full_name }}

#stats.ui.one.column.grid.container.center.aligned
  .row.ui.statistics
    .statistic
      .value
        {{ current_user.visits.times }}
        %ng-pluralize(count="current_user.visits.times"
                      when="{'0': 'раз', 'one': 'раз', 'few': 'раза', 'many': 'раз', 'other': 'раза'}")
      .label
        %span{'ng-if' => 'current_user.sex == 2'}Был
        %span{'ng-if' => 'current_user.sex == 1'}Была
        в антикафе
    .statistic
      .value
        {{ current_user.elapsed | duration }}
      .label
        %span{'ng-if' => 'current_user.sex == 2'}Пробыл
        %span{'ng-if' => 'current_user.sex == 1'}Пробыла
        в антикафе
    .statistic
      .value.zero
        %i.heart-enters.fa.fa-heart
        0
      .label
        Бесплатных входов
