.ui.vertical.pointing.menu
  %a.item{'ui-sref' => 'profile.info', 'ng-class' => '{active: $state.includes("profile.info")}'}
    Информация
  %a.item{'ui-sref' => 'profile.cards', 'ng-class' => '{active: $state.includes("profile.cards")}'}
    Карточки
