%h1.ui.header О месте

%p Антикафе — это общественное пространство, в котором всё бесплатно, кроме времени, и посетители обладают большей степенью свободы, нежели в классических кафе или ресторане. Основной вид деятельности посетителей — приятное времяпрепровождение, развлечение и посещение мероприятий. Как правило, антикафе представляет собой один большой зал или несколько комнат с уютным домашним интерьером, в котором гости свободно перемещаются, сами делают себе напитки. Обычно, в антикафе существует зона угощений, где гости могут сделать себе чай, кофе, взять сладости. Оплачивается только время пребывания в антикафе, например, поминутно[1] или по часам. В антикафе посетители отдыхают, общаются, посещают мероприятия. В большинство антикафе можно приносить свою еду и напитки. Как правило, алкоголь и курение запрещены. Многие антикафе делают акцент на настольных и видеоиграх или рабочей атмосфере коворкинга. Обычно в антикафе есть бесплатный доступ в Интернет через Wi-Fi; также может быть общий принтер.

%h3.ui.header Фотографии

.ui.three.column.grid
  .column
    .ui.segment
      %img/
  .column
    .ui.segment
      %img/
  .column
    .ui.segment
      %img/

%h3.ui.header 3D-панорама

.text-center
  %img{src: 'http://www.littleplanet.gr/en/img/virtual/vip-360.jpg'}