/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic-ui/dist/semantic
 *= require semantic-ui/dist/components/dropdown
 *= require ui-grid
 *= require animate-css
 *= require_self
 */

$primary-color: #268156;

@import 'loaders.css/src/loaders';

.segment_loader {
  height: 10em;
}

.heart-enters {
  color: red;
}

#stats {
  margin-top: 1em;

  .row {
    margin-top: 0.7em;
  }
}

html, body { height: 100%; }

#main {
  padding: 1em;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

#push {
  height: 120px;
  clear: both;
}