.ui.middle.aligned.divided.list
  .item{'ng-repeat' => 'user in users'}
    .right.floated.content
      %span{countdown: ''}
      &nbsp;
      .ui.positive.button.small{'ng-click' => 'stop(selectedUser)'}
        %i.fa.fa-check-circle
        Завершить
    %img.ui.avatar.image{'ng-src' => '{{ user.avatar.avatar.thumb.url }}'}
    .content
      {{ user.full_name }}

    -#.column{style: 'width: 70%;', 'ng-show' => 'selectedUser'}
    -#  %h1.ui.header {{ selectedUser.full_name }}
    -#
    -#  .text-center{'ng-if' => 'selectedUser.card.active_since '}
    -#    .ui.positive.button.huge{'ng-click' => 'stop(selectedUser)'}
    -#      %i.fa.fa-check-circle
    -#      Завершить (<span id="countdown"></span>)
    -#  .text-center{'ng-if' => '!selectedUser.card.active_since'}
    -#    .ui.positive.button.huge{'ng-click' => 'accept(selectedUser)'}
    -#      %i.fa.fa-check-circle
    -#      Принять
    -#    .ui.negative.button.huge{'ng-click' => 'cancel(selectedUser)'}
    -#      %i.fa.fa-exclamation-triangle