.ui.vertical.pointing.menu
  %a.item{'ui-sref' => 'admin.guests.index', 'ng-class' => '{active: $state.includes("admin.guests")}'}
    Новые посетители
  %a.item{'ui-sref' => 'admin.users', 'ng-class' => '{active: $state.includes("admin.users")}'}
    Все клиенты
  %a.item{'ui-sref' => 'admin.cards.index', 'ng-class' => '{active: $state.includes("admin.cards")}'}
    Карточки
  %a.item{'ui-sref' => 'admin.apps.index', 'ng-class' => '{active: $state.includes("admin.apps")}'}
    Приложения
