/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic-ui/dist/semantic
 *= require semantic-ui/dist/components/dropdown
 *= require font-awesome
 *= require_self
 */

/*****************************
 All rights reserved.
 AllFont.ru (c) 2011-2015
 *****************************/
@font-face {
  font-family: 'CyrillicGoth';
  font-style: normal;
  font-weight: 400;
  src: local('CyrillicGoth'), local('CyrillicGoth-Normal'),
  url(asset-path('cyrillicgoth.woff')) format('woff'),
  url(asset-path('cyrillicgoth.ttf')) format('truetype');
}

$footer-size: 120px;

html, body { height: 100%; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px;
}

#push {
  height: 120px;
  clear: both;
}

header {
  margin-top: 1em;

  h1.ui.header {
    font-family: 'CyrillicGoth', arial;
    font-size: 48px;
    text-align: center;
    color: #268156;

    a {
      color: #268156;
    }

    .sub.header {
      color: #455A91;
    }
  }

  .ui.menu {
    $menu_bg_color: #4b5890;
    background: $menu_bg_color;

    a.item {
      background: $menu_bg_color;
      color: #fff;
      text-transform: uppercase;
      font-size: 110%;

      &.active {
        &:hover {
          color: #fff;
          background: darken($menu_bg_color, 5%);
        }
        color: #fff;
        background: darken($menu_bg_color, 15%);
      }

      &:hover {
        color: #fff;
        background: darken($menu_bg_color, 5%);
      }
    }
  }
}

#vk_groups {
  text-align: center;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

#loading-block {
  position: absolute;
  top: 20%;
  left: 46%;
  z-index: 999;
}

.segment_loader {
  height: 10em;
}

.message {
  margin: 0.5em 0;
  padding: 0.5em;
  opacity: 0.8;
  font-weight: bold;
  font-size: large;

  &.error {
    background: #ff483a;
    color: #000;
  }

  &.notice {
    color: inherit;
  }
}

#login-form {
  margin-top: 5%;
}

.plastic-card {
  border: 1px solid #ccc;
  color: #666;
  display:block;
  width:93.75%;   /* This is 300px on 320px wide screen */
  max-width:600px;    /* Just to make sure that it doesnt get crazy on bg screens */
  min-width:300px;    /* And make sure that it contains at least some size */
  margin:30px auto;
  padding:20px;
  overflow:hidden;
  border-radius:6px;
  z-index:1;
  height: 250px;
  background: #efefef;
}

#logout-link {
  background-color: #b83400;
}

.authorita {
  background-color: #256ecc !important;
}

.statistic {
  .value.zero {
    .heart-enters.fa.fa-heart {
      color: #000 !important;
    }
  }
}

span.lg-sign {
  font-size: 150%;
  line-height: 0;
}

h1.username {
  text-transform: uppercase !important;
  font-family: 'Russo One', sans-serif !important;
  font-size: 350% !important;
  margin-top: 0.5em !important;
}
