.text-center
  %h1.ui.header Приложения

%a.ui.primary.button.huge{'ui-sref' => 'admin.apps.new'}
  Добавить приложение

.basic.ui.segment.segment_loader
  .ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
    .ui.indeterminate.text.loader Загрузка списка приложений

  %div{'ng-if' => '!apps.length && !isLoading'}
    %p Пока нет приложений.

  .ui.two.column.aligned.relaxed.fitted.stackable.grid{'ng-if' => 'apps.length && !isLoading'}
    .column{style: 'width: 30%;'}
      .ui.cards
        .card{'ng-repeat' => 'app in apps', style: 'width: 500px;'}
          .content.text-center
            .header
              {{ app.name }}
            .meta
              {{ app.user.full_name }}
          .extra.content
            {{ app.token }}
