.basic.ui.segment.segment_loader
  .ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
    .ui.indeterminate.text.loader Загрузка списка людей

  %div{'ng-if' => '!users.length && !isLoading'}
    %p Пока нет ни одного человека.

  %div{'ui-grid' => 'gridOptions'}

  -#.ui.two.column.aligned.relaxed.fitted.stackable.grid{'ng-if' => 'users.length && !isLoading'}
  -#  .column{style: 'width: 30%;'}
  -#    .ui.cards
  -#      .card{'ng-repeat' => 'user in users', style: 'width: 500px;'}
  -#        .content.text-center
  -#          .header
  -#            %a{'ui-sref' => 'admin.users.show({userId: user.id})'}
  -#              {{ user.full_name }}
  -#          -#.meta Культист
