.basic.ui.segment.segment_loader
  -#.ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
  -#  .ui.indeterminate.text.loader Загрузка списка людей

  .ui{'ng-if' => '!incomingUser'}
    %p Пока нет информации с кардридера.

  .ui.two.column.aligned.relaxed.fitted.stackable.grid{'ng-if' => 'incomingUser'}
    .column{style: 'width: 30%;'}
      .ui.cards
        .card{style: 'width: 500px;'}
          -#.image
            -#%img{'src' => asset_path('cthulhu_night.jpg')}
          .content.text-center
            .header
              {{ incomingUser.full_name }}
            -#.meta Культист
          .extra.content
            %i.fa.fa-credit-card
            {{incomingUser.card.number}}
    .column{style: 'width: 70%;'}
      .ui.segment
        .ui.raised.segment
          %h2.ui.header.text-center Эффекты

          %a.ui.teal.ribbon.label +

          .ui.list
            .item{'ng-repeat' => 'event in incomingUser.events'}
              .content{'ng-if' => 'event.name == "Ночь Ктулху"'}
                .text-center
                  %h3.header
                    {{ event.name }}
                  с 21.02.2015
                %ul.ui.list{style: 'margin-left: 1em;'}
                  %li
                    .header Культист
                    .description Бесплатный час в антикафе «Фонтан» в 21 день каждого месяца.

          %a.ui.red.ribbon.label -

          .ui.list
            .item{'ng-repeat' => 'event in current_user.events'}
              .content{'ng-if' => 'event.name == "Чёрная метка"'}
                .text-center
                  %h3.header
                    {{ event.name }}
                %ul.ui.list{style: 'margin-left: 1em;'}
                  %li
                    .header
                      Обладатель Чёрной Метки
                    .description
                      Для успешной проверки в любой настольной игре в антикафе
                      на шестигранном игральном кубике необходимо выкинуть исключительно шестёрку.

    .column{style: 'width: 100%'}
      .text-center{'ng-if' => 'incomingUser.card.is_active'}
        .ui.positive.button.huge{'ng-click' => 'stop()'}
          %i.fa.fa-check-circle
          Завершить сеанс
      .text-center{'ng-if' => '!incomingUser.card.is_active'}
        .ui.positive.button.huge{'ng-click' => 'accept()'}
          %i.fa.fa-check-circle
          Принять
        .ui.negative.button.huge{'ng-click' => 'cancel()'}
          %i.fa.fa-exclamation-triangle