.basic.ui.segment.segment_loader
  .ui.active.inverted.dimmer{'ng-show' => 'isLoading'}
    .ui.indeterminate.text.loader Получение информации

  %h1.ui.header.text-center
    {{ user.full_name }}
    %small{'ng-if' => 'user.is_online'} в антикафе

  .text-center{'ng-if' => 'user.is_online'}
    .ui.positive.button.huge{'ng-click' => 'stop()'}
      %i.fa.fa-check-circle
      Завершить сеанс в антикафе

  .ui.segment
    .ui.raised.segment
      %h2.ui.header.text-center Эффекты

      %a.ui.teal.ribbon.label +

      .ui.list
        .item{'ng-repeat' => 'event in user.events'}
          .content{'ng-if' => 'event.name == "Ночь Ктулху"'}
            .text-center
              %h3.header
                {{ event.name }}
              с 21.02.2015
            %ul.ui.list{style: 'margin-left: 1em;'}
              %li
                .header Культист
                .description Бесплатный час в антикафе «Фонтан» в 21 день каждого месяца.

      %a.ui.red.ribbon.label -

      .ui.list
        .item{'ng-repeat' => 'event in user.events'}
          .content{'ng-if' => 'event.name == "Чёрная метка"'}
            .text-center
              %h3.header
                {{ event.name }}
            %ul.ui.list{style: 'margin-left: 1em;'}
              %li
                .header
                  Обладатель Чёрной Метки
                .description
                  Для успешной проверки в любой настольной игре в антикафе
                  на шестигранном игральном кубике необходимо выкинуть исключительно шестёрку.

  %p Пробыл в антикафе: {{ user.elapsed | duration }}

  %p Был в антикафе: {{ user.visits.times }} раз/раза.

  %p В последний раз был в антикафе: {{ user.visits.last.end_at | moment }} и пробыл {{ user.visits.last.duration | duration }}
