!!! 5
%html(lang='ru')
  %head
    %title Антикафе «Фонтан», Новосибирск
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = csrf_meta_tags
    = stylesheet_link_tag 'application', :media => 'all'
    <link href='https://fonts.googleapis.com/css?family=Russo+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  %body
    #wrap
      %header
        %h1.ui.header
          %a{href: root_url} Фонтан
          .sub.header Антикафе

        .ui.four.item.menu
          %a.item{href: homepage_url, class: "#{current_page?(homepage_url) ? 'active' : '' }"} Главная
          %a.item{href: place_url, class: "#{current_page?(place_url) ? 'active' : '' }"} О месте
          %a.item{href: services_url, class: "#{current_page?(services_url) ? 'active' : '' }"} Услуги
          %a.item{href: contacts_url, class: "#{current_page?(contacts_url) ? 'active' : '' }"} Контакты

      #main
        = yield

      #push

    %footer
      .ui.container
        .ui.horizontal.segments
          .ui.segment
            .ui.list
              .item
                &copy; 2015 Антикафе «Фонтан»
              .item
                %a{href: login_url} В свою комнату
          .ui.segment
            .ui.list
              .item
                %i.fa.fa-clock-o
                %span 00.00-24.00, пон-вск
              .item
                %i.fa.fa-map-marker
                %a{href: 'https://2gis.ru/novosibirsk/search/%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D0%B2%D0%B8%D0%BD%D0%B0%201/geo/141373143518845/center/82.912359%2C55.040916'}
                  г. Новосибирск, ул. Державина 1
              .item
                %i.fa.fa-mobile
                %span +7 (913) 208-6998