!!!
%html(lang='ru' ng-app='fontan')
  %head
    %title Антикафе «Фонтан», Новосибирск

    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'personal_room/application', media: 'all'
    = csrf_meta_tags
    :javascript
      window.config = {
        is_development:   '#{(Rails.env.production?)? 'false' : 'true' }',
        websockets_host:  '#{Rails.application.config.custom[:websockets_host]}',
        links: {
          logout: '#{destroy_user_session_url}',
          root: '#{personal_room_root_url}',
          mainSite: '#{root_url}'
        }
      }
  %body{'ng-controller' => 'MainCtl'}
    #wrap.ui.container
      #loading-block
        .loader-inner.pacman
          %div
          %div
          %div
          %div
      %header{'ng-include' => "'shared/header.html'"}

      #main
        %ui-view

      #push

    %footer{'ng-include' => "'shared/footer.html'"}

    = javascript_include_tag 'personal_room/application'
